name: Picasso V2

on:
  workflow_call:
    inputs:
      STRAIN_REPOSITORY:
        description: 'The repository for strains to checkout. It should follow the format: ORGANIZATION/REPO'
        required: true
        type: string
      STRAIN_REPOSITORY_BRANCH:
        description: 'The branch of the repository to checkout'
        required: true
        type: string
      STRAIN_PATH:
        description: 'The path within the repository for strains'
        required: true
        type: string
      SERVICE:
        description: 'The service name to build'
        required: true
        type: string
      ENABLE_LIMIT_BUILDKIT_PARALLELISM:
        description: 'Enable buildkit parallelism limit to decrease resource usage. Default is true'
        required: false
        type: boolean
        default: true
    secrets:
      DOCKERHUB_USERNAME:
        description: 'DockerHub username for login'
        required: false
      DOCKERHUB_PASSWORD:
        description: 'DockerHub password for login'
        required: false
      SSH_PRIVATE_KEY:
        description: 'Service user SSH key for repository checkout'
        required: true
      AWS_ACCESS_KEY_ID:
        description: 'AWS access key ID'
        required: false
      AWS_SECRET_ACCESS_KEY:
        description: 'AWS secret access key'
        required: false
      AWS_REGION:
        description: 'AWS region'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: strains/${{ inputs.STRAIN_PATH }}
    env:
      TUTOR_ROOT: ${{ github.workspace }}/strains/${{ inputs.STRAIN_PATH }}
      TUTOR_PLUGINS_ROOT: ${{ github.workspace }}/strains/${{ inputs.STRAIN_PATH }}/plugins

    steps:
      - name: Checkout Picasso repository for utility scripts
        uses: actions/checkout@v4
        with:
          repository: edunext/picasso
          ref: main
          path: picasso

      - name: Checkout strains repository for build configurations
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.STRAIN_REPOSITORY }}
          ref: ${{ inputs.STRAIN_REPOSITORY_BRANCH }}
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
          path: strains

      - name: Install necessary dependencies
        run: |
          pip install pyyaml

      - name: Get Tutor Configurations from config.yml and set them as an environment variable
        working-directory: ${{ github.workspace }}
        env:
          REQUIRED_KEYS: TUTOR_VERSION TUTOR_APP_NAME
          OPTIONAL_KEYS: DOCKER_REGISTRY
          CONFIG_FILE: strains/${{ inputs.STRAIN_PATH }}/config.yml
          SCRIPT_PATH: picasso/.github/workflows/scripts/get_tutor_config.py
        run: |
          ENV_VARS=$(python $SCRIPT_PATH --config-file $CONFIG_FILE --required-keys $REQUIRED_KEYS --optional-keys $OPTIONAL_KEYS)
          echo "$ENV_VARS" >> $GITHUB_ENV

      - name: Install Tutor and its dependencies from the version specified in the config.yml
        run: |
          pip install tutor[full]==$TUTOR_VERSION
          tutor config save

      - name: Enable and install picasso plugin in Tutor environment
        run: |
          pip install git+https://github.com/eduNEXT/tutor-contrib-picasso@v0.1.1
          tutor plugins enable picasso

      - name: Setup SSH agent for private repositories cloning
        uses: webfactory/ssh-agent@v0.9.0
        with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add GitHub to known hosts
        run: |
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Execute extra commands
        run: |
          tutor picasso run-extra-commands

      - name: Limit build parallelism to decrease resource usage
        if: ${{ inputs.ENABLE_LIMIT_BUILDKIT_PARALLELISM }}
        run: |
          echo "[worker.oci]
          max-parallelism = 3" > buildkit.toml
          docker buildx create --use --node=limitparallelsteps --driver=docker-container --config=./buildkit.toml

      - name: Configure AWS credentials
        if: ${{ contains(env.DOCKER_REGISTRY, 'aws') }}
        uses: aws-actions/configure-aws-credentials@v4
        id: login-ecr
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to AWS ECR if Docker registry is AWS
        if: ${{ contains(env.DOCKER_REGISTRY, 'aws') }}
        uses: aws-actions/amazon-ecr-login@v2

      - name: Login to DockerHub if Docker registry is DockerHub or not set
        if: ${{ env.DOCKER_REGISTRY == null || contains(env.DOCKER_REGISTRY, 'docker.io') }}
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build service image with no cache
        env:
          SERVICE: ${{ inputs.SERVICE }}
        run: |
          tutor config save
          tutor images build $SERVICE --no-cache

      - name: Push service image to registry
        env:
          SERVICE: ${{ inputs.SERVICE }}
        run: |
          tutor images push $SERVICE
