name: Picasso V2

on:
  workflow_call:
    inputs:
      STRAIN_REPOSITORY:
        description: 'The repository for strains to checkout. It should follow the format: ORGANIZATION/REPO'
        required: true
        type: string
      STRAIN_REPOSITORY_BRANCH:
        description: 'The branch of the repository to checkout'
        required: true
        type: string
      STRAIN_PATH:
        description: 'The path within the repository for strains'
        required: true
        type: string
      SERVICE:
        description: 'The service name to build'
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        description: 'DockerHub username for login'
        required: true
      DOCKERHUB_PASSWORD:
        description: 'DockerHub password for login'
        required: true
      SSH_PRIVATE_KEY:
        description: 'Service user SSH key for repository checkout'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ inputs.STRAIN_PATH }}

    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Checkout strains repository
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.STRAIN_REPOSITORY }}
          ref: ${{ inputs.STRAIN_REPOSITORY_BRANCH }}
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Setup Virtual Environment
        run: |
          python -m venv .tvm
          . venv/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV

      - name: Get tutor version from config.yml
        run: |
          if [ ! -e "./config.yml" ]; then
            echo "ERROR: file config.yml doesn't exist"
            exit 1 # terminate and indicate error
          fi

          # Initialize variables
          strain_tutor_version=""

          # Read config.yml line by line
          while IFS= read -r line || [[ -n $line ]]; do
            if [[ "$line" == *":"* ]]; then
              name=$(echo "$line" | cut -d ":" -f1)
              value=$(echo "$line" | cut -d ":" -f2- | awk '{$1=$1};1' | tr -d '\r')

              if [ "$name" == "PICASSO_TUTOR_VERSION" ]; then
                strain_tutor_version=$value
                break
              fi
            fi
          done < "config.yml"

          # Check if variables are set

          if [ -z "$strain_tutor_version" ]; then
            echo "ERROR: PICASSO_TUTOR_VERSION not found in the given config.yml" >&2
            exit 1
          fi

          echo "PICASSO_TUTOR_VERSION=${strain_tutor_version:1}" >> $GITHUB_ENV

      - name: Install Tutor version from config.yml
        run: |
          pip install tutor==$TUTOR_VERSION

      - name: Enable picasso plugin
        run: |
          . .tvm/bin/activate

          pip install git+https://github.com/eduNEXT/tutor-contrib-picasso@mfmz/fix-themes
          tutor plugins enable picasso

      - name: Setup SSH agent for private repositories cloning
        uses: webfactory/ssh-agent@v0.9.0
        with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Add GitHub to known hosts
        shell: bash
        run: |
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Execute extra commands
        run: |
          tutor picasso run-extra-commands

      - name: Prepare docker if building MFE
        if: ${{ inputs.SERVICE == 'mfe' }}
        shell: bash
        run: |
          echo "[worker.oci]" > buildkit.toml
          echo "max-parallelism = 2" >> buildkit.toml
          docker buildx create --use --node=max2cpu --driver=docker-container --config=./buildkit.toml

      - name: Build service image with no cache
        env:
          SERVICE: ${{ inputs.SERVICE }}
        run: |
          tutor config save
          tutor images build $SERVICE --no-cache

      - name: Push service image to DockerHub
        env:
          SERVICE: ${{ inputs.SERVICE }}
        run: |
          tutor images push $SERVICE
